<!DOCTYPE html>
<html>

<head>
    <title>卖家页面</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div id="header">
        <ul>
            <li name="myli"><a class="on">淘宝网首页</a></li>
            <li name="myli"><a href="https://www.taobao.com">我的淘宝</a></li>
            <li name="myli"><a href="https://www.taobao.com">购物车</a></li>
            <li name="myli"><a href="https://www.taobao.com">收藏夹</a></li>
            <li name="myli"><a href="https://www.taobao.com">商品分类</a></li>
            <li name="myli"><a href="https://www.taobao.com">联系客服</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="symbol">
            <img src="static/img/11.PNG" />
        </div>
        <p><b>确认买家信息</b></p>
        <img src="static/img/66.PNG" />
        <p style="margin-top: 10px;font-size: 15px;">物品详情：</p>
        <table style="margin: 10px 18.5%;font-family: 华文新魏;font-size: 14px;">
            <tr align="center">
                <td>买家ID</td>
                <td>商品属性</td>
                <td>单价</td>
                <td>数量</td>
                <td>小计</td>
            </tr>
            <tr align="center">
                <td><img src="static/img/77.PNG" /></td>
                <td><img src="static/img/77.PNG" /></td>
                <td><img src="static/img/77.PNG" /></td>
                <td><img src="static/img/77.PNG" /></td>
                <td><img src="static/img/77.PNG" /></td>
            </tr>
            <tr align="center">
                <td>郑小妮娘娘大人</td>
                <td><img src="static/img/88.PNG" height="50px" width="200px" /></td>
                <td>89.00</td>
                <td>1</td>
                <td>89.00</td>
            </tr>
        </table>
        <p class="buy" style="font-size: 15px;">买家收货信息：</p>
        <div id="code">
            <img id="img" src="static/img/qr/{{ qr_code }}" />
        </div>
        <p id="demo" class="buy" style="font-size: 15px;">买家留言：</p>
        <div id="liuyan" style="font-family: 华文新魏;">
            <p>
                {{ message }}
            </p>
        </div>
        <img src="static/img/66.PNG" />
    </div>
    <div id="footer">
        <button type="submit">发 货</button>
        <br/>
        <img src="static/img/66.PNG" />
    </div>
</body>

</html>